* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  margin:7vh auto;
  width: 60vw;
  height:100vh ;
  
}
h1{
  text-align: center;
  font-size: 1.5rem;
}
header {
  background-color: red;
  height: 15vh;
  line-height: 15vh;
}
nav {
  background-color: blue;
  height: 10vh;
  line-height: 10vh;
}
aside {
  background-color: yellow;
  height: 50vh;
  float: left;
  width: 25%;
  display: flex;
  align-items: center;
}
main {
  background-color: aqua;
  height: 50vh;
  line-height: 50vh;
  width: 100%;
}
.bos {
  clear: both;
}
footer {
  background-color: grey;
  height: 10vh;
  line-height: 10vh;
}
