* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    height: 100vh;
}
header.banner .bg {
  background-image: url(./tree.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  
}
h1,p{
    /* margin-top: 50vh; */
    text-align: center;
    color: white;
    font-weight: 600;
    font-family:Arial, Helvetica, sans-serif
}
h1{
    font-size: 3rem;
    padding: 10% 0;
    

}
p{
    font-size: 1.5rem;
    margin: -10%;
}

span{
    
    
    
}
input{
    background-color:lightgrey;
    border: none;
    position: relative;
    left:39% ;
    top:70%;
    height: 1vh;
    width: 7vw;
}
input:hover{
    background-color: orangered;
    cursor: pointer;
}